{% extends "account/base_auth.html" %}
{% load static%}
{% load socialaccount %}

{% block title %} Sing In Bet Dashboard {% endblock title%}

{% block content %}

<div class="splash-container">
    <div class="card ">
        <div class="card-header text-center"><a href="../index.html"><img class="logo-img" src="{% static 'images/logo.png' %}" alt="logo"></a><span class="splash-description">Please enter your user information.</span></div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                <div class="form-group">
                    {% if field.name == 'email' %}
                        <input class="form-control form-control-lg" type="email" name="{{ field.name }}"
                               id="{{ field.auto_id }}" placeholder="{{ field.label }}" autocomplete="off">
                    {% elif field.name == 'password'%}
                        <input class="form-control form-control-lg" type="password" name="{{ field.name }}"
                               id="{{ field.auto_id }}" placeholder="{{ field.label }}" autocomplete="off">
                    {% else %}
                        <input class="form-control form-control-lg" type="text" name="{{ field.name }}"
                               id="{{ field.auto_id }}" placeholder="{{ field.label }}" autocomplete="off">
                    {% endif %}
                </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                <p></p>
                <div class="form-group row pt-0">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                        <a href="{% provider_login_url 'google' %}">
                            <button class="btn btn-block btn-social btn-twitter " type="button">
                                Google
                            </button>
                        </a>
                    </div>
                </div>

            </form>
        </div>

        <div class="card-footer bg-white p-0  ">
            <div class="card-footer-item card-footer-item-bordered">
                <a href="{% url 'account_signup' %}" class="footer-link">Create An Account</a></div>
            <div class="card-footer-item card-footer-item-bordered">
                <a href="{% url 'account_reset_password' %}" class="footer-link">Forgot Password</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}