{% extends "account/base_auth.html" %}
{% load static %}

{% block title %} Успішне скидання паролю {% endblock title%}


{% block content %}

<div class="splash-container">
    <div class="card">
        <div class="card-header text-center"><img class="logo-img" src="{% static 'images/logo.png' %}" alt="logo">
            {% if user.is_authenticated %}
                <span class="splash-description">Ви вже увійшли.</span>
            {% else %}
                <span class="splash-description">
                    Ми надіслали вам електронний лист.
                    Якщо ви не отримали його, перевірте папку зі спамом.
                    В іншому випадку зв’яжіться з нами, якщо ви не отримаєте його протягом кількох хвилин.
                </span>
            {% endif %}
        </div>
        <div class="card-footer text-center">
            <span>Ще не маєте акаунту? <a href="{% url 'account_signup' %}">Зареєструватися</a></span>
        </div>
    </div>
</div>


{% endblock content %}
