{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="splash-container">
    <div class="card">
        <div class="card-header text-center"><img class="logo-img" src="{% static 'images/logo.png' %}" alt="logo">
            {% if token_fail %}
                <span class="splash-description">
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.
                </span>
            {% endif %}
        </div>

        {% if not token_fail %}
        <div class="card-body">
            <form method="post">{% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {% if field.name == 'password1' or field.name == 'password2'%}
                            <input class="form-control form-control-lg" type="password" name="{{ field.name }}"
                                   id="{{ field.auto_id }}" placeholder="{{ field.label }}" autocomplete="off">
                        {% else %}
                            <input class="form-control form-control-lg" type="text" name="{{ field.name }}"
                                   id="{{ field.auto_id }}" placeholder="{{ field.label }}" autocomplete="off">
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Change Password</button>
            </form>
        </div>
        {% endif %}

        <div class="card-footer text-center">
            <span>Don't have an account? <a href="{% url 'account_signup' %}">Sign Up</a></span>
        </div>
    </div>
</div>

{% endblock content %}
