{% extends "base.html" %}
{% load static %}

{% block title %} Verification {% endblock title%}


{% block content %}

<div class="splash-container">
    <div class="card">
        <div class="card-header text-center"><img class="logo-img" src="{% static 'images/logo.png' %}" alt="logo">
            {% if user.is_authenticated %}
                <span class="splash-description">You are already logged.</span>
            {% else %}
                <span class="splash-description">
                    We have sent an email to you for verification. Follow the link provided to finalize the
                    signup process. If you do not see the verification email in your main inbox, check your spam folder.
                    Please contact us if you do not receive the verification email within a few minutes.
                </span>
            {% endif %}
        </div>
        <div class="card-footer text-center">
            <span>Don't have an account? <a href="{% url 'account_signup' %}">Sign Up</a></span>
        </div>
    </div>
</div>


{% endblock content %}
