{% extends "base.html" %}
{% load static %}
{% load tariff_tags %}


{% block title %}  Тарифний план {% endblock title %}

{% block main %}
    <div class="container-fluid dashboard-content">
        <div class="row">
			<div class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-12">
				<div class="alert alert-light text-dark" role="alert">Тарифний план:</div>
        <div class="offset-xl-1 col-xl-10">
        <div class="row">
            {% for tariff in tariffs %}
            <div class="col-xl-6 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header bg-primary text-center p-3 ">
                        <h4 class="mb-0 text-white"> {{ tariff.name }}</h4>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="mb-1">{{ tariff.price }} UAH</h1>
                        <p> за місяць </p>
                    </div>
                    <div class="card-body border-top">
                        <ul class="list-unstyled bullet-check font-14">
                            {% for text in tariff.description|split_text:'|' %}
                            <li>{{ text }}</li>
                            {% endfor %}
                        </ul>
                        <a href="#" class="btn btn-outline-primary btn-block btn-lg"> Підключити </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
       </div>
    </div>
{% endblock main %}

