{% extends "base.html" %}
{% load static %}

{% block header %}
{% endblock %}
{% block menu %}
{% endblock %}

{% block main %}

<div style="margin-top: 0px;
            margin-bottom: 50px;
            margin-right: 200px;
            margin-left: 0px;">

    <div class="tab-regular">
        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link show active" id="terms_ukr" href="#terms_ukr_line" data-toggle="tab" role="tab" aria-controls="month" aria-selected="false">
                    УКР
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="terms_eng" href="#terms_eng_line" data-toggle="tab"  role="tab" aria-controls="now" aria-selected="true">
                    ENG
                </a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="terms_eng_line" role="tabpanel" aria-labelledby="terms_eng">
                <div class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-12">
                        <h1>Terms and Conditions for Bet Office</h1>

                        <h2>Introduction</h2>

                        <p>These Website Standard Terms and Conditions written on this webpage shall manage your use of our website, betoffice.fun accessible at https://betoffice.fun/.</p>

                        <p>These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard Terms and Conditions.</p>

                        <p>Minors or people below 18 years old are not allowed to use this Website.</p>

                        <h2>Intellectual Property Rights</h2>

                        <p>Other than the content you own, under these Terms, Bet Office and/or its licensors own all the intellectual property rights and materials contained in this Website.</p>

                        <p>You are granted limited license only for purposes of viewing the material contained on this Website.</p>

                        <h2>Restrictions</h2>

                        <p>You are specifically restricted from all of the following:</p>

                        <ul>
                            <li>publishing any Website material in any other media;</li>
                            <li>selling, sublicensing and/or otherwise commercializing any Website material;</li>
                            <li>publicly performing and/or showing any Website material;</li>
                            <li>using this Website in any way that is or may be damaging to this Website;</li>
                            <li>using this Website in any way that impacts user access to this Website;</li>
                            <li>using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity;</li>
                            <li>engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website;</li>
                            <li>using this Website to engage in any advertising or marketing.</li>
                        </ul>

                        <p>Certain areas of this Website are restricted from being access by you and Bet Office may further restrict access by you to any areas of this Website, at any time, in absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well.</p>

                        <h2>Your Content</h2>

                        <p>In these Website Standard Terms and Conditions, "Your Content" shall mean any audio, video text, images or other material you choose to display on this Website. By displaying Your Content, you grant Bet Office a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.</p>

                        <p>Your Content must be your own and must not be invading any third-party's rights. Bet Office reserves the right to remove any of Your Content from this Website at any time without notice.</p>

                        <h2>No warranties</h2>

                        <p>This Website is provided "as is," with all faults, and Bet Office express no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.</p>

                        <h2>Limitation of liability</h2>

                        <p>In no event shall Bet Office, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this Website whether such liability is under contract.  Bet Office, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.</p>

                        <h2>Indemnification</h2>

                        <p>You hereby indemnify to the fullest extent Bet Office from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.</p>

                        <h2>Severability</h2>

                        <p>If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.</p>

                        <h2>Variation of Terms</h2>

                        <p>Bet Office is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review these Terms on a regular basis.</p>

                        <h2>Assignment</h2>

                        <p>The Bet Office is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.</p>

                        <h2>Entire Agreement</h2>

                        <p>These Terms constitute the entire agreement between Bet Office and you in relation to your use of this Website, and supersede all prior agreements and understandings.</p>

                        <h2>Governing Law & Jurisdiction</h2>

                        <p>These Terms will be governed by and interpreted in accordance with the laws of the State of ua, and you submit to the non-exclusive jurisdiction of the state and federal courts located in ua for the resolution of any disputes.</p>

                        <h2>Contacting Us</h2>

                        <p>If you have any questions, concerns, or complaints regarding this Agreement, we encourage you to contact us using the details below:</p>

                        <p>betoffice.contact@gmail.com</p>

                        <p>This document was last updated on December 30, 2023</p>
                </div>
            </div>
            <div class="tab-pane fade show active" id="terms_ukr_line" role="tabpanel" aria-labelledby="terms_ukr">
                <div class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-12">
                        <h1>Положення та умови Bet Office</h1>

                         <h2>Вступ</h2>

                         <p>Ці Стандартні положення та умови веб-сайту, написані на цій веб-сторінці, керують використанням вами нашого веб-сайту betoffice.fun, доступного за адресою https://betoffice.fun/.</p>

                         <p>Ці Умови застосовуватимуться повністю та стосуватимуться використання вами цього веб-сайту. Користуючись цим веб-сайтом, ви погоджуєтеся прийняти всі положення та умови, викладені тут. Ви не повинні використовувати цей веб-сайт, якщо ви не згодні з будь-яким із цих Стандартних положень і умов веб-сайту.</p>

                         <p>Неповнолітнім або особам віком до 18 років заборонено використовувати цей веб-сайт.</p>

                         <h2>Права інтелектуальної власності</h2>

                         <p>Крім вмісту, яким ви володієте, відповідно до цих Умов Bet Office та/або його ліцензіари володіють усіма правами інтелектуальної власності та матеріалами, що містяться на цьому Веб-сайті.</p>

                         <p>Вам надається обмежена ліцензія лише для перегляду матеріалів, що містяться на цьому веб-сайті.</p>

                         <h2>Обмеження</h2>

                         <p>Вам заборонено виконувати наступне:</p>

                         <ul>
                             <li>публікація будь-яких матеріалів Веб-сайту в будь-яких інших засобах масової інформації;</li>
                             <li>продаж, субліцензування та/або іншим чином комерціалізація будь-яких матеріалів Веб-сайту;</li>
                             <li>публічне виконання та/або показ будь-якого матеріалу Веб-сайту;</li>
                             <li>використання цього веб-сайту будь-яким способом, який завдає або може завдати шкоди цьому веб-сайту;</li>
                             <li>використання цього веб-сайту будь-яким способом, який впливає на доступ користувачів до цього веб-сайту;</li>
                             <li>використання цього Веб-сайту всупереч чинним законам і нормам або будь-яким чином може завдати шкоди Веб-сайту або будь-якій особі чи юридичній особі;</li>
                             <li>залучення до будь-якого інтелектуального аналізу даних, збору даних, вилучення даних або будь-якої іншої подібної діяльності, пов’язаної з цим Веб-сайтом;</li>
                             <li>використання цього веб-сайту для будь-якої реклами чи маркетингу.</li>
                         </ul>

                         <p>Вам заборонено доступ до певних розділів цього Веб-сайту, і Bet Office може додатково обмежити доступ до будь-яких розділів цього Веб-сайту в будь-який час і на власний розсуд. Будь-який ідентифікатор користувача та пароль, які ви можете мати для цього веб-сайту, є конфіденційними, і ви також повинні зберігати конфіденційність.</p>

                         <h2>Ваш вміст</h2>

                         <p>У цих Стандартних положеннях та умовах веб-сайту «Ваш вміст» означає будь-який аудіо-, відеотекст, зображення чи інший матеріал, який ви вирішили відобразити на цьому веб-сайті. Відображаючи свій вміст, ви надаєте Bet Office невиключну, всесвітню безвідкличну ліцензію з субліцензією на використання, відтворення, адаптацію, публікацію, переклад і розповсюдження на будь-яких засобах масової інформації.</p>

                         <p>Ваш вміст має належати вам і не порушувати права третіх осіб. Bet Office залишає за собою право видаляти будь-який Ваш вміст із цього веб-сайту в будь-який час без попередження.</p>

                         <h2>Жодних гарантій</h2>

                         <p>Цей веб-сайт надається «як є» з усіма недоліками, і Bet Office не надає жодних заяв чи гарантій будь-якого роду щодо цього веб-сайту або матеріалів, що містяться на цьому веб-сайті. Крім того, жодна інформація на цьому Веб-сайті не повинна тлумачитися як порада.</p>

                         <h2>Обмеження відповідальності</h2>

                         <p>Ні в якому разі Bet Office, ані будь-хто з його посадових осіб, директорів і співробітників не несуть відповідальності за будь-що, що виникає внаслідок або будь-яким чином пов’язане з використанням вами цього Веб-сайту, незалежно від того, чи така відповідальність передбачена договором. Bet Office, включно з його посадовими особами, директорами та співробітниками, не несуть відповідальності за будь-яку непряму, непряму або спеціальну відповідальність, що виникає внаслідок або будь-яким чином пов’язана з використанням вами цього Веб-сайту.</p>

                         <h2>Відшкодування</h2>

                         <p>Цим ви в повному обсязі звільняєте Bet Office від будь-яких та/або всіх зобов’язань, витрат, вимог, підстав для позову, збитків і витрат, пов’язаних будь-яким чином із порушенням вами будь-якого з положень цих Умов. </p>

                         <h2>Незалежність прав</h2>

                         <p>Якщо будь-яке положення цих Умов буде визнано недійсним згідно з будь-яким застосовним законодавством, такі положення буде видалено без впливу на інші положення.</p>

                         <h2>Зміна Умов</h2>

                         <p>Bet Office має право переглядати ці Умови в будь-який час, коли вважає за потрібне, і, використовуючи цей веб-сайт, ви повинні регулярно переглядати ці Умови.</p>

                         <h2>Призначення</h2>

                         <p>Сторонній конторі дозволяється призначати, передавати та укладати субпідряд свої права та/або зобов’язання за цими Умовами без будь-якого повідомлення. Однак вам не дозволяється призначати, передавати або укладати субпідряд будь-які ваші права та/або обов’язки згідно з цими Умовами.</p>

                         <h2>Повна угода</h2>

                         <p>Ці Умови складають повну угоду між Bet Office і вами стосовно використання вами цього веб-сайту та замінюють усі попередні угоди та домовленості.</p>

                         <h2>Застосовне законодавство та юрисдикція</h2>

                         <p>Ці Умови регулюватимуться та тлумачитимуться відповідно до законодавства штату ua, і ви підкоряєтеся невиключній юрисдикції судів штату та федеральних судів, розташованих в ua, для вирішення будь-яких суперечок.</p >

                         <h2>Зв'язатися з нами</h2>

                         <p>Якщо у вас виникли запитання, занепокоєння чи скарги щодо цієї Угоди, радимо зв’язатися з нами, використовуючи наведену нижче інформацію.</p>

                         <p>betoffice.contact@gmail.com</p>

                         <p>Цей документ востаннє оновлено 30 грудня 2023 року</p>
                </div>
            </div>
        </div>
    </div>


</div>



{% endblock main %}
{% block footer %}
{% endblock %}
