{% load static %}
{% load tariff_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bet Office</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon3.png' %}">
  <link href="{% static 'landing/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'landing/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'landing/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'landing/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'landing/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'landing/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'landing/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'landing/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'landing/assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="">Bet Office</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="#services">Опис</a></li>
          <li><a class="nav-link scrollto" href="#testimonials">Відгуки</a></li>
<!--          <li><a class="nav-link scrollto" href="#team">Команда</a></li>-->
          <li><a class="nav-link scrollto" href="#pricing">Тарифи</a></li>
          <li><a class="nav-link scrollto" href="#contact">Контакти</a></li>
          <li><a class="nav-link scrollto" href="#faq">Довідка</a></li>
          <li><a class="nav-link scrollto" href="{% url 'terms' %}">Правила та Умови</a></li>
          <li><a class="getstarted" href="{% url 'account_signup' %}">Розпочати</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Bet Office</h1>
          <h2>Твоя онлайн платформа для аналізу ставок!</h2>
        </div>
      </div>
      <div class="text-center">
        <a href="{% url 'account_signup' %}" class="btn-get-started">Розпочати</a>
      </div>

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-file-list-2-line"></i></div>
            <h4 class="title"><a href="#">Історія ставок</a></h4>
            <p class="description">Зберігай та відслідковуй свої ставки в зручному форматі.</p>
            <p class="description">Застосовуй гнучкі фільтри, для відображення деталізованих вибірок.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-line-chart-line"></i></div>
            <h4 class="title"><a href="#">Графіки</a></h4>
            <p class="description">Аналізуй свій графік доходу та рентабельності.</p>
            <p class="description">Внось корективи в свою стратегію для покращення своїх показників.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-bar-chart-grouped-fill"></i></div>
            <h4 class="title"><a href="#">Рейтинги</a></h4>
            <p class="description">Автоматично підраховані рейтинги найприбутковіших прогнозів.</p>
            <p class="description">Гнучкі фільтри для максимальної деталізації.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-account-box-fill"></i></div>
            <h4 class="title"><a href="#">Профіль</a></h4>
            <p class="description">Гнучко налаштовуй свою платформу для зручної роботи.</p>
            <p class="description">Додавай лише ті види спорту та ліги які тобі цікаві.</p>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Counts Section ======= -->
<!--    <section id="counts" class="counts section-bg">-->
<!--      <div class="container">-->

<!--        <div class="row justify-content-end">-->

<!--          <div class="col-lg-4 col-md-5 col-6 d-md-flex align-items-md-stretch">-->
<!--            <div class="count-box">-->
<!--              <span data-purecounter-start="0" data-purecounter-end="162" data-purecounter-duration="2" class="purecounter"></span>-->
<!--              <p>Користувачів</p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-5 col-6 d-md-flex align-items-md-stretch">-->
<!--            <div class="count-box">-->
<!--              <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="2" class="purecounter"></span>-->
<!--              <p>Зручних сервісів</p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-5 col-6 d-md-flex align-items-md-stretch">-->
<!--            <div class="count-box">-->
<!--              <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="2" class="purecounter"></span>-->
<!--              <p>Детальних графіків</p>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Counts Section &ndash;&gt;-->

    <!-- ======= About Video Section ======= -->
    <section id="services" class="about-video">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-xl-10 col-lg-10 text-center">
            <h2>Ці та ще багато інших можливостей створені для Вас!</h2>
            <p></p>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'images/examples/calendar_example.png' %}" class="img-fluid" alt="">
<!--            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>-->
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Календар</h3>
            <ul>
              <li><i class="bx bx-check-double"></i> Зручне відображення ваших результатів в форматі календаря.</li>
              <li><i class="bx bx-check-double"></i> Загальний/детальний формати перегляду.</li>
              <li><i class="bx bx-check-double"></i> Зручний та продуманий інтерфейс.</li>
            </ul>
          </div>
        </div>
      </div>
      <p></p>

      <div class="container" data-aos="fade-up">
        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'images/examples/stats_example.png' %}" class="img-fluid" alt="">
<!--            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>-->
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Статистика</h3>
            <ul>
              <li><i class="bx bx-check-double"></i> Статистика ставок, прибутку, рентабельності та інших показників.</li>
              <li><i class="bx bx-check-double"></i> Можливість деталізувати вибірку за допомогою зручної фільтрації.</li>
              <li><i class="bx bx-check-double"></i> Підраховані показники виграшів та програшів.</li>
            </ul>
          </div>
        </div>
      </div>
      <p></p>

      <div class="container" data-aos="fade-up">
        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'images/examples/graph_profit_example.png' %}" class="img-fluid" alt="">
<!--            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>-->
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Графіки та гістограми</h3>
            <ul>
              <li><i class="bx bx-check-double"></i> Лінійний графік прибутку, рентабельності та інших показників.</li>
              <li><i class="bx bx-check-double"></i> Гістрограми з даними про окремі періоди (дні, місяці, роки).</li>
              <li><i class="bx bx-check-double"></i> Можливість простежити та проаналізувати свої ставки.</li>
              <li><i class="bx bx-check-double"></i> Зручна фільтрація для максимальної зручності.</li>
            </ul>
          </div>
        </div>
      </div>
      <p></p>

      <div class="container" data-aos="fade-up">
        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'images/examples/ratings_football_example.png' %}" class="img-fluid" alt="">
<!--            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>-->
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Рейтинги</h3>
            <ul>
              <li><i class="bx bx-check-double"></i> Рейтинг прибутку по змаганнях, видах спорту та типах ставки.</li>
              <li><i class="bx bx-check-double"></i> Рейтинг рентабельності та результатів.</li>
              <li><i class="bx bx-check-double"></i> Числові показникии, які допоможуть краще зрозуміти Ваші вдалі рішення.</li>
              <li><i class="bx bx-check-double"></i> Зручна фільтрація для максимальної зручності.</li>
            </ul>
          </div>
        </div>
      </div>
      <p></p>

      <div class="container" data-aos="fade-up">
        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'images/examples/bet_history_example.png' %}" class="img-fluid" alt="">
<!--            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>-->
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Історія ставок</h3>
            <ul>
              <li><i class="bx bx-check-double"></i> Вся інформація про ваші ставки.</li>
              <li><i class="bx bx-check-double"></i> Зручне відслідковування та перегляд..</li>
              <li><i class="bx bx-check-double"></i> Можливіть додавати ставки тут і зараз.</li>
              <li><i class="bx bx-check-double"></i> Зручна фільтрація для максимальної зручності.</li>
            </ul>
          </div>
        </div>
      </div>
      <p></p>

      <div class="container" data-aos="fade-up">
        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'images/examples/result_example.png' %}" class="img-fluid" alt="">
<!--            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>-->
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Результати</h3>
            <ul>
              <li><i class="bx bx-check-double"></i> Лінійний графік виграшів, поразок та повернень.</li>
              <li><i class="bx bx-check-double"></i> Гістрограми з даними про окремі періоди (дні, місяці, роки).</li>
              <li><i class="bx bx-check-double"></i> Можливість простежити та проаналізувати свої результати.</li>
              <li><i class="bx bx-check-double"></i> Зручна фільтрація для максимальної зручності.</li>
            </ul>
          </div>
        </div>
      </div>
    </section><!-- End About Video Section -->

    <!-- ======= Clients Section ======= -->
<!--    <section id="clients" class="clients section-bg">-->
<!--      <div class="container">-->

<!--        <div class="row">-->
<!--          -->
<!--          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">-->
<!--            <img src="{% static 'landing/assets/img/clients/client-6.png' %}" class="img-fluid" alt="">-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Clients Section &ndash;&gt;-->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Відгуки</h2>
        </div>
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
              {% for feedback in feedbacks %}
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{ feedback.comment }}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>{{ feedback.full_name }}</h3>
                <h4>{{ feedback.bet_count }}</h4>
              </div>
            </div><!-- End testimonial item -->
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
<!--    <section id="team" class="team section-bg">-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="section-title">-->
<!--          <h2>Команда</h2>-->
<!--          <p>Люди які з неймовірним ентузіазмом розвивають наш сервіс. Ми любимо математику та віримо лише сухим числам. Тому і впроваджуємо цей підхід у платформу, щоб допомогти всім любителям спорту покращити свої результати. Приєднюйся та розвивайся з нами.</p>-->
<!--        </div>-->

<!--        <div class="row">-->

<!--          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">-->
<!--            <div class="member">-->
<!--              <div class="member-img">-->
<!--                <img src="{% static 'landing/assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">-->
<!--                <div class="social">-->
<!--                  <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                  <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="member-info">-->
<!--                <h4>Олег Смага</h4>-->
<!--                <span>Лідер та ідейний натхненник</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">-->
<!--            <div class="member">-->
<!--              <div class="member-img">-->
<!--                <img src="{% static 'landing/assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">-->
<!--                <div class="social">-->
<!--                  <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                  <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="member-info">-->
<!--                <h4>Уляна Романюк</h4>-->
<!--                <span>Backend Developer</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">-->
<!--            <div class="member">-->
<!--              <div class="member-img">-->
<!--                <img src="{% static 'landing/assets/img/team/team-4.jpg' %}" class="img-fluid" alt="">-->
<!--                <div class="social">-->
<!--                  <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                  <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="member-info">-->
<!--                <h4>Вікторія Кисляк</h4>-->
<!--                <span>QA/Customer Support</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">-->
<!--            <div class="member">-->
<!--              <div class="member-img">-->
<!--                <img src="{% static 'landing/assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">-->
<!--                <div class="social">-->
<!--                  <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                  <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="member-info">-->
<!--                <h4>Ти?</h4>-->
<!--                <span>Маєш ідеї як покращити нашу платформу? Тоді це місце твоє.</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Team Section &ndash;&gt;-->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Тарифи</h2>
          <h3>На даний момент сервіс повністю безкоштовний!</h3>
        </div>

        <div class="row">

          <div class="col-lg-6 col-md-6" data-aos="zoom-im" data-aos-delay="100">
            <div class="box featured">
              <h3>FREE</h3>
              <h4>0 грн<span> / місяць</span></h4>
              <ul>
                <li>Календар активності</li>
                <li>Історія ставок</li>
                <li>Рейтинги ліг та прогнозів</li>
                <li>Графіки прибутку, рентабельності та ін.</li>
                <li>Базова фільтрація всіх компонентів</li>
              </ul>
              <div class="btn-wrap">
                <a href="{% url 'account_signup' %}" class="btn-buy">Підключити</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3>PRO</h3>
              <h4>??? грн<span> / місяць</span></h4>
              <ul>
                <li>Максимум можливостей</li>
                <li>Ще більш деталізовані рейтинги</li>
                <li>Додаткові графіки</li>
                <li>Розширена фільтрація</li>
                <li>Поради для покращення результатів</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn disabled">Цей тариф ще в розробці</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Поширені запитання</h2>
        </div>

        <div class="faq-list">
          <ul>
            {% for obj in fqa %}
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-{{obj.id}}">{{obj.question}} <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-{{obj.id}}" class="collapse" data-bs-parent=".faq-list">
                {% for text in obj.description|split_text:'|' %}
                    <p>{{ text }}</p>
                {% endfor %}
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Контакти</h2>
        </div>

        <div class="row mt-5">
          <div class="col-lg-4">
            <div class="info">
              <div class="phone">
                <a href="{{ object.telegram_link }}"><i class="bi bi-telegram"></i></a>
                <h4>Telegram:</h4>
                <a href="{{ object.telegram_link }}"><p>Bet Office</p></a>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Електронна пошта:</h4>
                <p>{{ object.email }}</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Телефон:</h4>
                <p>{{ object.phone }}</p>
              </div>
            </div>
          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">
             <form method="POST">
              <div class="row gy-2 gx-md-3">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                  <div class="col-md-12 form-group">
                    {{ field }}
                  </div>
                {% endfor %}
                <button type="submit" class="btn btn-info" style="background: #2487ce"> <span style="color: white"> Надіслати </span> </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="credits">
          <a href="https://betoffice.fun/">Bet Office</a>
        </div>
        <div class="credits">
          <a href="{% url 'terms' %}">Правила та Умови</a>
        </div>
      </div>
<!--      <div class="social-links text-center text-md-right pt-3 pt-md-0">-->
<!--        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>-->
<!--        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
<!--      </div>-->
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'landing/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'landing/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'landing/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'landing/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'landing/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'landing/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'landing/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'landing/assets/js/main.js' %}"></script>

</body>

</html>