{% extends "base.html" %}
{% load static %}
{% load bet_tags %}

{% block main %}
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
                <div class="alert alert-light text-dark" role="alert">
                    Виберіть яку ставку додати:
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header bg-primary text-center p-3">
                        <h4 class="mb-0 text-white btn-lg"></h4>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="mb-1">Загальна</h1>
                    </div>
                    <div class="card-body border-top">
                        <ul class="list-unstyled bullet-check font-14">
                            <li style="font-size: 18px;">Базова інформація</li>
							<li style="font-size: 18px;">Для всіх видів спорту</li>
                            <li style="font-size: 18px;">Швидко та легко</li>
                        </ul>
                        {% include 'addition/create_form_modal.html' with create_form=bet_create_form create_form_action='bet_create' button_color='primary'%}
                    </div>
                </div>
            </div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header bg-info text-center p-3 ">
						<h4 class="mb-0 text-white btn-lg"></h4>
					</div>
                    <div class="card-body text-center">
                        <h1 class="mb-1">Футбол</h1>
                    </div>
                    <div class="card-body border-top">
                        <ul class="list-unstyled bullet-check font-14">
                            <li style="font-size: 18px;">Розширена інформація</li>
							<li style="font-size: 18px;">Можливість вказати команди</li>
                            <li style="font-size: 18px;">Вибір футбольної ліги</li>
                        </ul>
                        {% include 'addition/create_form_modal.html' with create_form=football_create_form create_form_action='bet_football_create' button_color='info'%}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
