{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="influence-finder">
		<div class="container-fluid dashboard-content">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="page-header">
						<h3 class="mb-2">Infulencer Dashboard Template </h3>
						<p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
						<div class="page-breadcrumb">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
									<li class="breadcrumb-item active" aria-current="page">Bet Football History</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-10 col-lg-6 col-md-6 col-sm-12 col-12">
					<div class="card">
						<h5 class="card-header">Football Bet History</h5>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered first">
									<thead>
										<tr>
											{% for field in football_bet_fields %}
											<th>{{ field }}</th>
											{% endfor %}
<!--											<th>Actions</th>-->
										</tr>
									</thead>
									<tbody>
										{% for bet in bets %}
										<tr>
											<td>{{ bet.date_game }}</td>
											<td>{{ bet.prediction }}</td>
											<td>{{ bet.amount }} $</td>
											<td>{{ bet.coefficient }}</td>
											<td>{{ bet.result }}</td>
											<td>{{ bet.profit }}</td>
											<td>{{ bet.team_home }}</td>
											<td>{{ bet.team_guest }}</td>
											<td>{{ bet.bet_type }}</td>
											<td>{{ bet.competition }}</td>
											<td>{{ bet.game_status }}</td>
											<td>{{ bet.is_home_guest }}</td>

<!--											<td>-->
<!--												<div class="dropdown float-right">-->
<!--													<a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="true">-->
<!--															<i class="mdi mdi-dots-vertical"></i>-->
<!--																 </a>-->
<!--													<div class="dropdown-menu dropdown-menu-right">-->
<!--														&lt;!&ndash; item&ndash;&gt;-->
<!--														<a href="javascript:void(0);" class="dropdown-item">Sales Report</a>-->
<!--														&lt;!&ndash; item&ndash;&gt;-->
<!--														<a href="javascript:void(0);" class="dropdown-item">Export Report</a>-->
<!--														&lt;!&ndash; item&ndash;&gt;-->
<!--														<a href="javascript:void(0);" class="dropdown-item">Profit</a>-->
<!--														&lt;!&ndash; item&ndash;&gt;-->
<!--														<a href="javascript:void(0);" class="dropdown-item">Action</a>-->
<!--													</div>-->
<!--												</div>-->
<!--											</td>-->
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-lg-8 col-md-8 col-sm-12 col-12">
					<form>
						<div class="card">
							{% for field in filter_form.visible_fields %}
								{% if field.name in 'dategamestart,dategameend' %}
								<div class="card-body">
									<h3 class="font-14">{{ field.label }}:</h3>
									<div class="input-group date" id="{{field.name}}datepicker" data-target-input="nearest">
										{{ field }}
										<div class="input-group-append" data-target="#{{field.name}}datepicker" data-toggle="datetimepicker">
											<div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
										</div>
									</div>
								</div>
								{% else %}
									<div class="card-body">
										<h3 class="font-14">{{ field.label }}:</h3>
										{{ field }}
									</div>
								{% endif %}
							{% endfor %}
							<div class="card-body border-top">
								<button type="submit" class="btn btn-secondary btn-lg btn-block">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock main %}


