{% extends "base.html" %}
{% load static %}
{% load bet_tags %}


{% block main %}

<div class="container-fluid  dashboard-content">
    <div class="row">
        <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
            <div class="alert alert-light text-dark" role="alert">Рентабельність за весь час:</div>
            <div class="tab-regular">
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link show active" id="now-profit-line-tab" href="#now-profit-line" data-toggle="tab"  role="tab" aria-controls="now" aria-selected="true">
                            Поточний місяць
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="last-profit-line-tab" href="#last-profit-line" data-toggle="tab" role="tab" aria-controls="last" aria-selected="false">
                            Останні 30 днів
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="month-profit-line-tab" href="#month-profit-line" data-toggle="tab" role="tab" aria-controls="month" aria-selected="false">
                            По місяцях
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="year-profit-line-tab" href="#year-profit-line" data-toggle="tab" role="tab" aria-controls="year" aria-selected="false">
                            По роках
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="now-profit-line" role="tabpanel" aria-labelledby="now-profit-line-tab">
                        <div id="morris_line_1"
                             data-data="{{ roi_now_line_data }}"
                             data-ykeys="{{ roi_bar_ykeys }}"
                             data-colors="{{ chart_one_line_colors }}"
                             data-labels="{{ roi_bar_labels }}">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="last-profit-line" role="tabpanel" aria-labelledby="last-profit-line-tab">
                        <div id="morris_line_2"
                             data-data="{{ roi_last_line_data }}"
                             data-ykeys="{{ roi_bar_ykeys }}"
                             data-colors="{{ chart_one_line_colors }}"
                             data-labels="{{ roi_bar_labels }}">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="month-profit-line" role="tabpanel" aria-labelledby="month-profit-line-tab">
                        <div id="morris_line_3"
                             data-data="{{ roi_month_line_data }}"
                             data-ykeys="{{ roi_bar_ykeys }}"
                             data-colors="{{ chart_one_line_colors }}"
                             data-labels="{{ roi_bar_labels }}">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="year-profit-line" role="tabpanel" aria-labelledby="year-profit-line-tab">
                        <div id="morris_line_4"
                             data-data="{{ roi_year_line_data }}"
                             data-ykeys="{{ roi_bar_ykeys }}"
                             data-colors="{{ chart_one_line_colors }}"
                             data-labels="{{ roi_bar_labels }}">
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="alert alert-light text-dark" role="alert">Рентабельність за окремий період:</div>
            <div class="tab-regular">
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link show active" id="now-profit-bar-tab" href="#now-profit-bar" data-toggle="tab"  role="tab" aria-controls="now" aria-selected="true">
                            Поточний місяць
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="last-profit-bar-tab" href="#last-profit-bar" data-toggle="tab" role="tab" aria-controls="last" aria-selected="false">
                            Останні 30 днів
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="month-profit-bar-tab" href="#month-profit-bar" data-toggle="tab" role="tab" aria-controls="month" aria-selected="false">
                            По місяцях
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="year-profit-bar-tab" href="#year-profit-bar" data-toggle="tab" role="tab" aria-controls="year" aria-selected="false">
                            По роках
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="now-profit-bar" role="tabpanel" aria-labelledby="now-profit-bar-tab">
                        <div id="morris_bar_1"
                             data-data="{{ roi_now_bar_data }}"
                             data-ykeys="{{ roi_bar_ykeys }}"
                             data-colors="{{ chart_one_line_colors }}"
                             data-labels="{{ roi_bar_labels }}">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="last-profit-bar" role="tabpanel" aria-labelledby="last-profit-bar-tab">
                        <div id="morris_bar_2"
                             data-data="{{ roi_last_bar_data }}"
                             data-ykeys="{{ roi_bar_ykeys }}"
                             data-colors="{{ chart_one_line_colors }}"
                             data-labels="{{ roi_bar_labels }}">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="month-profit-bar" role="tabpanel" aria-labelledby="month-profit-bar-tab">
                        <div id="morris_bar_3"
                             data-data="{{ roi_month_bar_data }}"
                             data-ykeys="{{ roi_bar_ykeys }}"
                             data-colors="{{ chart_one_line_colors }}"
                             data-labels="{{ roi_bar_labels }}">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="year-profit-bar" role="tabpanel" aria-labelledby="year-profit-bar-tab">
                        <div id="morris_bar_4"
                             data-data="{{ roi_year_bar_data }}"
                             data-ykeys="{{ roi_bar_ykeys }}"
                             data-colors="{{ chart_one_line_colors }}"
                             data-labels="{{ roi_bar_labels }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-8 col-md-8 col-sm-12 col-12">
            <div class="alert alert-light text-dark" role="alert">Фільтрація:</div>
            <form>
                <div class="card">
                    {% for field in filter_form.visible_fields %}
                        {% if field.name in 'date_game_start,date_game_end' %}
                        <div class="card-body">
                            <h3 class="font-14">{{ field.label }}:</h3>
                            <div class="input-group date" id="{{field.name}}datepicker" data-target-input="nearest">
                                {{ field }}
                                <div class="input-group-append" data-target="#{{field.name}}datepicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                            <div class="card-body">
                                <h3 class="font-14">{{ field.label }}:</h3>
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="card-body border-top">
                        <button type="submit" class="btn btn-secondary btn-lg btn-block">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock main %}
