{% extends "base.html" %}
{% load static %}
{% load bet_tags %}


{% block main %}
    <div class="influence-finder">
		<div class="container-fluid dashboard-content">
			<div class="row">
				<div class="col-xl-10 col-lg-6 col-md-6 col-sm-12 col-12">
					<div class="alert alert-light text-dark" role="alert">
						Список ставок на Футбол:
					</div>
					<div class="card">
						<div class="email-filters">
							<div class="email-filters-left">
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
									{% include 'addition/create_form_modal.html' with create_form=create_form create_form_action='bet_football_create' %}
								</div>
							</div>
							<div class="email-filters-right">
								<span class="email-pagination-indicator">{{ page_obj_count_string }}</span>
								<div class="btn-group email-pagination-nav">
									{% if page_obj.has_previous %}
										<a href="?{% query_transform page=page_obj.previous_page_number %}">
											<button class="btn btn-light" type="button"><i class="fas fa-angle-left"></i></button>
										</a>
									{% endif %}
									{% if page_obj.has_next %}
										<a href="?{% query_transform page=page_obj.next_page_number %}">
											<button class="btn btn-light" type="button"><i class="fas fa-angle-right"></i></button>
										</a>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered first">
									<thead>
										<tr>
											{% for field in football_bet_fields %}
											<th>
												{{ field }}
												{% if field not in '☒'%}
													<a href="?{% query_transform ordering=field|bet_football_ordering_value ordering_type='Asc'%}"><i class="fas fa-sort-up" style="float: right;"></i></a>
													<a href="?{% query_transform ordering=field|bet_football_ordering_value ordering_type='Desc'%}"><i class="fas fa-sort-down" style="float: right;"></i></a>												{% endif %}
											</th>
											{% endfor %}
											<th>
												<span><i class="far fa-star"></i></span>
												<a href="?{% query_transform ordering='is_favourite' ordering_type='Asc'%}"><i class="fas fa-sort-up" style="float: right;"></i></a>
												<a href="?{% query_transform ordering='is_favourite' ordering_type='Desc'%}"><i class="fas fa-sort-down" style="float: right;"></i></a>
											</th>
	<!--										<th>-->
	<!--											<span><i class="mdi mdi-pencil-box-outline"></i></span>-->
	<!--										</th>-->
											<th>
												<span><i class="mdi mdi-close-box-outline"></i></span>
											</th>
										</tr>
									</thead>
									<tbody>
										{% for bet in page_obj %}
										<tr>
											<td>{{ bet.date_game|date:"d-m-Y" }}</td>
											<td>{{ bet.betting_service|check_empty:'' }}</td>
											<td>{{ bet.prediction|check_empty:'' }}</td>
											<td>{{ bet.amount }} $</td>
											<td>{{ bet.coefficient }}</td>
											<td>
												<span class="ml-1 text{% if bet.result == 'Виграш' %}-success{% elif bet.result == 'Повернення' %}-warning{% elif bet.result == 'Програш' %}-danger{% else %}{% endif %}">
													{{ bet.result|short_result }}
												</span>
											</td>
											<td>
												<span class="ml-1 text{% if bet.profit > 0 %}-success{% elif bet.profit == 0 %}-warning{% else %}-danger{% endif %}">
													{% if bet.profit > 0%}+{% endif %}{{ bet.profit }} $
												</span>
											</td>
											<td>{{ bet.competition|check_empty:'' }}</td>
											<td>{{ bet.team_home|check_empty:'' }}</td>
											<td>{{ bet.team_guest|check_empty:'' }}</td>

											{% if bet.is_live_type == True %}
												<td>
													<span><i class="fas fa-check-circle"></i></span>
												</td>
											{% else %}
												<td>
													<span><i class="far fa-circle"></i></span>
												</td>
											{% endif %}


											{% if bet.is_favourite %}
												<td>
													<a class="favorite active" href="{% url 'bet_football_change_is_favourite' bet.id %}?{{ request.GET.urlencode }}">
														<span><i class="fas fa-star"></i></span>
													</a>
												</td>
											{% else %}
												<td>
													<a class="favorite" href="{% url 'bet_football_change_is_favourite' bet.id %}?{{ request.GET.urlencode }}">
														<span><i class="far fa-star"></i></span>
													</a>
												</td>
											{% endif %}
											<td>
												<a class="favorite" href="#" data-href="{% url 'bet_football_delete' bet.id %}?{{ request.GET.urlencode }}" data-toggle="modal" data-target="#confirm-delete">
													<span><i class="mdi mdi-close-box-outline"></i></span>
												</a>
                                                <!-- Modal -->
                                                <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Підтвердження</h5>
                                                                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</a>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Ви підтверджуєте видалення ставки?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a href="#" class="btn btn-primary" data-dismiss="modal">Скасувати</a>
																<a class="btn btn-danger btn-ok">Підтвердити</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
											</td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<nav aria-label="Page navigation example" >
						<ul class="pagination" style="display: flex;">
							{% if page_obj.has_previous %}
								<li class="page-item" style="flex-basis: auto; flex-grow: 1;">
									<a class="page-link" style="text-align:center" href="?{% query_transform page=1 %}">Початок</a>
								</li>
							{% endif %}
							{% for num in page_obj.paginator.page_range %}
								{% if page_obj.number == num %}
									<li class="page-item active" style="flex-basis: auto; flex-grow: 1;">
										<a class="page-link" style="text-align:center" href="?{% query_transform page=num %}">{{ num }}</a>
									</li>
								{% elif num > page_obj.number|add:'-11' and num < page_obj.number|add:'11' %}
									<li class="page-item" style="flex-basis: auto; flex-grow: 1;">
										<a class="page-link" style="text-align:center" href="?{% query_transform page=num %}">{{ num }}</a>
									</li>
								{% endif %}
							{% endfor %}
							{% if page_obj.has_next %}
								<li class="page-item" style="flex-basis: auto; flex-grow: 1;">
									<a class="page-link" style="text-align:center" href="?{% query_transform page=page_obj.paginator.num_pages %}">Кінець</a>
								</li>
							{% endif %}
						</ul>
					</nav>
				</div>
				<div class="col-xl-2 col-lg-8 col-md-8 col-sm-12 col-12">
					{% include 'addition/filter_form.html' %}
				</div>
			</div>
		</div>
	</div>
{% endblock main %}


