{% extends "base.html" %}
{% load static %}


{% block main %}

<div class="container-fluid  dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Profit Graphs </h2>
                <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Bet Graphs</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
                <div class="section-block">
                    <h5 class="section-title">Прибуток за весь час:</h5>
                </div>
                <div class="tab-regular">
                    <ul class="nav nav-tabs nav-fill" id="myTab7" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link show active" id="now-profit-area-tab" href="#now-profit-area" data-toggle="tab"  role="tab" aria-controls="now" aria-selected="true">
                                Поточний місяць
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="last-profit-area-tab" href="#last-profit-area" data-toggle="tab" role="tab" aria-controls="last" aria-selected="false">
                                Останні 30 днів
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="month-profit-area-tab" href="#month-profit-area" data-toggle="tab" role="tab" aria-controls="month" aria-selected="false">
                                По місяцях
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="year-profit-area-tab" href="#year-profit-area" data-toggle="tab" role="tab" aria-controls="year" aria-selected="false">
                                По роках
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent7">
                        <div class="tab-pane fade show active" id="now-profit-area" role="tabpanel" aria-labelledby="now-profit-area-tab">
                            <div id="morris_area_1"
                                 data-data="{{ profit_now_area_data }}"
                                 data-ykeys="{{ profit_area_ykeys }}"
                                 data-labels="{{ profit_area_labels }}">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="last-profit-area" role="tabpanel" aria-labelledby="last-profit-area-tab">
                            <div id="morris_area_2"
                                 data-data="{{ profit_last_area_data }}"
                                 data-ykeys="{{ profit_area_ykeys }}"
                                 data-labels="{{ profit_area_labels }}">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="month-profit-area" role="tabpanel" aria-labelledby="month-profit-area-tab">
                            <div id="morris_area_3"
                                 data-data="{{ profit_month_area_data }}"
                                 data-ykeys="{{ profit_area_ykeys }}"
                                 data-labels="{{ profit_area_labels }}">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="year-profit-area" role="tabpanel" aria-labelledby="year-profit-area-tab">
                            <div id="morris_area_4"
                                 data-data="{{ profit_year_area_data }}"
                                 data-ykeys="{{ profit_area_ykeys }}"
                                 data-labels="{{ profit_area_labels }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
                <div class="section-block">
                    <h5 class="section-title">Прибуток за період:</h5>
                </div>
                <div class="tab-regular">
                    <ul class="nav nav-tabs nav-fill" id="myTab7" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link show active" id="now-profit-stacked-tab" href="#now-profit-stacked" data-toggle="tab"  role="tab" aria-controls="now" aria-selected="true">
                                Поточний місяць
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="last-profit-stacked-tab" href="#last-profit-stacked" data-toggle="tab" role="tab" aria-controls="last" aria-selected="false">
                                Останні 30 днів
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="month-profit-stacked-tab" href="#month-profit-stacked" data-toggle="tab" role="tab" aria-controls="month" aria-selected="false">
                                По місяцях
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="year-profit-stacked-tab" href="#year-profit-stacked" data-toggle="tab" role="tab" aria-controls="year" aria-selected="false">
                                По роках
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent7">
                        <div class="tab-pane fade show active" id="now-profit-stacked" role="tabpanel" aria-labelledby="now-profit-stacked-tab">
                            <div id="morris_stacked_1"
                                 data-data="{{ profit_now_stacked_data }}"
                                 data-ykeys="{{ profit_stacked_ykeys }}"
                                 data-labels="{{ profit_stacked_labels }}">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="last-profit-stacked" role="tabpanel" aria-labelledby="last-profit-stacked-tab">
                            <div id="morris_stacked_2"
                                 data-data="{{ profit_last_stacked_data }}"
                                 data-ykeys="{{ profit_stacked_ykeys }}"
                                 data-labels="{{ profit_stacked_labels }}">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="month-profit-stacked" role="tabpanel" aria-labelledby="month-profit-stacked-tab">
                            <div id="morris_stacked_3"
                                 data-data="{{ profit_month_stacked_data }}"
                                 data-ykeys="{{ profit_stacked_ykeys }}"
                                 data-labels="{{ profit_stacked_labels }}">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="year-profit-stacked" role="tabpanel" aria-labelledby="year-profit-stacked-tab">
                            <div id="morris_stacked_4"
                                 data-data="{{ profit_year_stacked_data }}"
                                 data-ykeys="{{ profit_stacked_ykeys }}"
                                 data-labels="{{ profit_stacked_labels }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock main %}
