{% extends "base.html" %}
{% load static %}
{% load bet_tags %}

{% block main %}
    <div class="influence-finder">
		<div class="container-fluid dashboard-content">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="page-header">
						<h3 class="mb-2">Infulencer Dashboard Template </h3>
							<div class="page-breadcrumb">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
									<li class="breadcrumb-item active" aria-current="page">Influencer Dashboard Template</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="card">
						<div class="card-body">
							<div id='calendar_bet'
							     data-data="{{ calendar_data }}"
								 data-now="{{ date_now }}"
							 	 data-betcreateurl="{{ json_bet_create_url }}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock main %}


