{% extends "base.html" %}
{% load static %}
{% load bet_tags %}

{% block main %}
    <div class="influence-finder">
		<div class="container-fluid dashboard-content">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="card">
						<div class="card-body">
							<div id='calendar_bet'
							     data-data="{{ calendar_data }}"
								 data-now="{{ date_now }}"
							 	 data-betcreateurl="{{ json_bet_create_url_for_calendar }}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock main %}


