{% extends "base.html" %}
{% load static %}


{% block main %}



	<div class="col-xl-5 col-lg-12 col-md-6 col-sm-12 col-12">
		<div class="card">
			<h5 class="card-header">Top Folllowes by Locations </h5>
			<div class="card-body">
				<canvas id="chartjs_bar_horizontal"></canvas>
			</div>
		</div>
	</div>


{% endblock main %}



<!--&lt;!&ndash; Optional JavaScript &ndash;&gt;-->
<!--&lt;!&ndash; jquery 3.3.1 &ndash;&gt;-->
<!--<script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>-->
<!--&lt;!&ndash; bootstap bundle js &ndash;&gt;-->
<!--<script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>-->
<!--&lt;!&ndash; slimscroll js &ndash;&gt;-->
<!--<script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>-->
<!--&lt;!&ndash; main js &ndash;&gt;-->
<!--<script src="assets/libs/js/main-js.js"></script>-->
<!--&lt;!&ndash; morris-chart js &ndash;&gt;-->
<!--<script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>-->
<!--<script src="assets/vendor/charts/morris-bundle/morris.js"></script>-->
<!--<script src="assets/vendor/charts/morris-bundle/morrisjs.html"></script>-->
<!--&lt;!&ndash; chart js &ndash;&gt;-->
<!--<script src="assets/vendor/charts/charts-bundle/Chart.bundle.js"></script>-->
<!--<script src="assets/vendor/charts/charts-bundle/chartjs.js"></script>-->
<!--&lt;!&ndash; dashboard js &ndash;&gt;-->
<!--<script src="assets/libs/js/dashboard-influencer.js"></script>-->
