{% extends "base.html" %}
{% load static %}
{% load bet_tags %}


{% block main %}

<div class="container-fluid  dashboard-content">
    <div class="row">
        <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
            <div class="alert alert-light text-dark" role="alert">Рейтинги:</div>
            <div class="tab-regular">
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 1 %}show active{% endif %}" id="now-profit-line-tab" href="#now-profit-line" data-toggle="tab"  role="tab" aria-controls="now" aria-selected="true">
                            Вид Спорту
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade {% if active_tab == 1 %}show active{% endif %}" id="last-profit-line" role="tabpanel" aria-labelledby="last-profit-line-tab">
                        <div class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered first">
                                    <thead>
                                        <tr>
                                            {% for field in sport_kind_fields %}
                                            <th>
                                                {{ field }}
                                                {% if field not in 'WDL' %}
                                                    <a href="?{% query_transform ordering_tab=field ordering_type='Asc' active_tab=1%}"><i class="fas fa-sort-up" style="float: right;"></i></a>
                                                    <a href="?{% query_transform ordering_tab=field ordering_type='Desc' active_tab=1%}"><i class="fas fa-sort-down" style="float: right;"></i></a>
                                                {% endif %}
                                            </th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for obj in sport_kind_objects %}
                                        <tr>
                                            <td>
                                                <span class="traffic-sales-name">{{obj.name}}</span>
                                            </td>



                                            <td>
                                                <span class="traffic-sales-name" style="float: right;">{{obj.count}}</span>
                                            </td>

                                            <td>
                                                <span class="ml-1 text-success">{{obj.count_win}} / </span>
                                                <span class="ml-1 text-warning">{{obj.count_drawn}} / </span>
                                                <span class="ml-1 text-danger">{{obj.count_lose}}</span>
                                            </td>

                                            <td>
                                                {% if obj.avg_profit > 0 %}
                                                    <span class="ml-1 text-success" style="float: right;">${{obj.avg_profit}}</span>
                                                {% elif obj.avg_profit == 0 %}
                                                    <span class=" text-warning" style="float: right;">${{obj.avg_profit}}</span>
                                                {% else %}
                                                    <span class="ml-1 text-danger" style="float: right;">${{obj.avg_profit}}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if obj.total_profit > 0 %}
                                                    <span class="ml-1 text-success" style="float: right;">${{obj.total_profit}}</span>
                                                {% elif obj.total_profit == 0 %}
                                                    <span class="ml-1 text-warning" style="float: right;">${{obj.total_profit}}</span>
                                                {% else %}
                                                    <span class="ml-1 text-danger" style="float: right;">${{obj.total_profit}}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if obj.total_roi > 0 %}
                                                    <span class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light" style="float: right;">
                                                        <i class="fa fa-fw fa-arrow-up"></i>
                                                    </span>
                                                    <span class="ml-1 text-success" style="float: right;">{{obj.total_roi}}%</span>
                                                {% elif obj.total_roi == 0 %}
                                                    <span class="icon-circle-small icon-box-xs text-brand ml-4 bg-brand-light" style="float: right;">
                                                        <i class="fa fa-fw fa-arrow-right"></i>
                                                    </span>
                                                    <span class="ml-1 text-warning" style="float: right;">{{obj.total_roi}}%</span>
                                                {% else %}
                                                    <span class="icon-circle-small icon-box-xs text-danger ml-4 bg-danger-light" style="float: right;">
                                                        <i class="fa fa-fw fa-arrow-down"></i>
                                                    </span>
                                                    <span class="ml-1 text-danger" style="float: right;">{{obj.total_roi}}%</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-8 col-md-8 col-sm-12 col-12">
            {% include 'addition/filter_form.html' %}
        </div>
    </div>
</div>




{% endblock main %}

