{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="dashboard-influence">
	<div class="container-fluid dashboard-content">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="page-header">
					<h3 class="mb-2">Bet Statistic</h3>
					<div class="page-breadcrumb">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
								<li class="breadcrumb-item active" aria-current="page">Bet Statistic</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-10 col-lg-6 col-md-6 col-sm-12 col-12">
				<div class="section-block">
                    <h4 class="section-title">Статистика:</h4>
                </div>
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						<div class="card">
							<div class="card-body">
								<div class="d-inline-block">
									<h5 class="text-muted">Total Bets</h5>
									<h2 class="mb-0">{{ total_bets_count }}</h2>
								</div>
								<div class="float-right icon-circle-medium  icon-box-lg  bg-secondary-light mt-1">
									<i class="fa fa-handshake fa-fw fa-sm text-secondary"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						<div class="card">
							<div class="card-body">
								<div class="d-inline-block">
									<h5 class="text-muted">Total ROI</h5>
									<h2 class="mb-0"> {{ total_bets_roi }} % </h2>
								</div>
								<div class="float-right icon-circle-medium  icon-box-lg  bg-info-light mt-1">
									<i class="fa fa-percent fa-fw fa-sm text-info"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						<div class="card">
							<div class="card-body">
								<div class="d-inline-block">
									<h5 class="text-muted">Total Profit</h5>
									<h2 class="mb-0"> {{ total_bets_profit }} $ </h2>
								</div>
								<div class="float-right icon-circle-medium  icon-box-lg  bg-success-light mt-1">
									<i class="fa fa-hand-holding-usd fa-fw fa-sm text-success"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						<div class="card">
							<div class="card-body">
								<div class="d-inline-block">
									<h5 class="text-muted">Total Bets Amount </h5>
									<h2 class="mb-0">{{ total_bets_amount }} $ </h2>
								</div>
								<div class="float-right icon-circle-medium  icon-box-lg  bg-brand-light mt-1">
									<i class="fa fa-dollar-sign fa-fw fa-sm text-brand"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						<div class="card">
							<div class="card-body">
								<div class="d-inline-block">
									<h5 class="text-muted">WINS</h5>
									<h2 class="mb-0">{{ res_win }}</h2>
								</div>
								<div class="float-right icon-circle-medium  icon-box-lg  bg-success-light mt-1">
									<i class="mdi mdi-plus fa-fw fa-sm text-success"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						<div class="card">
							<div class="card-body">
								<div class="d-inline-block">
									<h5 class="text-muted">DRAWNS</h5>
									<h2 class="mb-0"> {{ res_drawn }}</h2>
								</div>
								<div class="float-right icon-circle-medium  icon-box-lg  bg-brand-light mt-1">
									<i class="mdi mdi-equal fa-fw fa-sm text-brand"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						<div class="card">
							<div class="card-body">
								<div class="d-inline-block">
									<h5 class="text-muted">LOSES</h5>
									<h2 class="mb-0"> {{ res_lose }}</h2>
								</div>
								<div class="float-right icon-circle-medium  icon-box-lg  bg-danger-light mt-1">
									<i class="mdi mdi-minus fa-fw fa-sm text-danger"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						<div class="card">
							<div class="card-body">
								<div class="d-inline-block">
									<h5 class="text-muted">UNKNOWN</h5>
									<h2 class="mb-0">{{ res_unknown }}</h2>
								</div>
								<div class="float-right icon-circle-medium  icon-box-lg  bg-info-light mt-1">
									<i class="mdi mdi-help fa-fw fa-sm text-info"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-lg-8 col-md-8 col-sm-12 col-12">
				<div class="section-block">
                    <h4 class="section-title">Фільтрація:</h4>
                </div>
				<form>
					<div class="card">
						{% for field in filter_form.visible_fields %}
							<div class="card-body">
								<h3 class="font-14">{{ field.label }}:</h3>
								{{ field }}
							</div>
						{% endfor %}
						<div class="card-body border-top">
							<button type="submit" class="btn btn-secondary btn-lg btn-block">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock main %}
