{% extends "base.html" %}
{% load static %}

{% block main %}

    <div class="container-fluid dashboard-content ">
    <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="page-header">
        <h3 class="mb-2"> Contact Information </h3>
        <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
        <div class="page-breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> About Us  </li>
                </ol>
            </nav>
        </div>
    </div>
    </div>
    </div>

    <div class="row">
    <div class="col-xl-6 col-lg-3 col-md-5 col-sm-12 col-12">
    <div class="card">
        <div class="card-body">
            <div class="user-avatar text-center d-block">
                <img src="{{ object.img.url }}" alt="User Avatar" class="rounded-circle user-avatar-xxl">
            </div>
            <div class="text-center">
                <h2 class="font-24 mb-0">Michael J. Christy</h2>
                <p>Project Manager @Influnce</p>
            </div>
        </div>
        <div class="card-body border-top">
            <h3 class="font-16">Contact Information</h3>
            <div class="">
                <ul class="list-unstyled mb-0">
                <li class="mb-2"><i class="fas fa-fw fa-envelope mr-2"></i> {{ object.email }} </li>
                <li class="mb-0"><i class="fas fa-fw fa-phone mr-2"></i> {{ object.phone }}</li>
            </ul>
            </div>
        </div>
        <div class="card-body border-top">
            <h3 class="font-16">Rating</h3>
            <h1 class="mb-0">4.8</h1>
            <div class="rating-star">
                <i class="fa fa-fw fa-star"></i>
                <i class="fa fa-fw fa-star"></i>
                <i class="fa fa-fw fa-star"></i>
                <i class="fa fa-fw fa-star"></i>
                <i class="fa fa-fw fa-star"></i>
                <p class="d-inline-block text-dark">14 Reviews </p>
            </div>
        </div>
        <div class="card-body border-top">
            <h3 class="font-16">Social Channels</h3>
            <div class="">
                <ul class="mb-0 list-unstyled">
                <li class="mb-1"><a href="#"><i class="fab fa-fw fa-facebook-square mr-1 facebook-color"></i>{{ object.fb_link }}</a></li>
                <li class="mb-1"><a href="#"><i class="fab fa-fw fa-twitter-square mr-1 twitter-color"></i>{{ object.twit_link }}</a></li>
                <li class="mb-1"><a href="#"><i class="fab fa-fw fa-instagram mr-1 instagram-color"></i>{{ object.inst_link }}</a></li>
            </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-6 col-lg-9 col-md-7 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Send Messages</h5>
                    <div class="card-body">
                        <form method="POST">
								<div class="form-group">
									{% csrf_token %}
									{% for field in form.hidden_fields %}
										{{ field }}
									{% endfor %}
									{% for field in form.visible_fields %}
											<div class="form-group row">
                                            	<label class="col-3 col-lg-2 col-form-label text-right">{{ field.label }}</label>
												<div class="col-9 col-lg-10">
													{{ field }}
												</div>
											</div>
									{% endfor %}
									<div class="col-sm-12">
										<p class="text-right">
											<button type="submit" class="btn btn-success"> Send </button>
										</p>
									</div>
								</div>
							</form>
                        </div>
                    </div>
                </div>
            </div>
    </div>

{% endblock main %}
