{% extends "base.html" %}
{% load static %}

{% block main %}

    <div class="container-fluid dashboard-content ">
    <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="alert alert-light text-dark" role="alert">
            Контактна інформація:
        </div>
    </div>
    </div>

    <div class="row">
    <div class="col-xl-6 col-lg-3 col-md-5 col-sm-12 col-12">
    <div class="card">
        <div class="card-body">
            <div class="user-avatar text-center d-block">
                <img src="{{ object.img.url }}" alt="User Avatar" class="rounded-circle user-avatar-xxl">
            </div>
            <div class="text-center">
                <h2 class="font-24 mb-0">Олег</h2>
                <p>Консультант @Bet Office</p>
            </div>
        </div>
        <div class="card-body border-top">
            <h3 class="font-16">Контакти</h3>
            <div class="">
                <ul class="list-unstyled mb-0">
                <li class="mb-2"><i class="fas fa-fw fa-envelope mr-2"></i> {{ object.email }} </li>
                <li class="mb-0"><i class="fas fa-fw fa-phone mr-2"></i> {{ object.phone }}</li>
            </ul>
            </div>
        </div>
        <div class="card-body border-top">
            <h3 class="font-16">Соціальні мережі</h3>
            <div class="">
                <ul class="mb-0 list-unstyled">
                <li class="mb-1"><a href="{{ object.telegram_link }}"><i class="fab fa-fw fab fa-telegram mr-1 twitter-color"></i>Написати у Telegram</a></li>
            </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-6 col-lg-9 col-md-7 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Зворотній звʼязок</h5>
                    <div class="card-body">
                        <form method="POST">
								<div class="form-group">
									{% csrf_token %}
									{% for field in form.hidden_fields %}
										{{ field }}
									{% endfor %}
									{% for field in form.visible_fields %}
											<div class="form-group row">
												<div class="col-12 col-lg-12">
													{{ field }}
												</div>
											</div>
									{% endfor %}
									<div class="col-sm-12">
										<p class="text-right">
											<button type="submit" class="btn btn-success"> Надіслати </button>
										</p>
									</div>
								</div>
							</form>
                        </div>
                    </div>
                </div>
            </div>
    </div>

{% endblock main %}
