{% extends "account/base_auth.html" %}
{% load static %}

{% block title %} Увійти через Google {% endblock title%}


{% block content %}
<div class="splash-container">
    <div class="card">
        <div class="card-header text-center"><a class="navbar-brand" href="#">Bet Dashboard</a>
            <span class="splash-description">
                Ви збираєтесь увійти, використовуючи обліковий запис третьої сторони з {{ provider.name }}.
            </span>

        </div>

        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Продовжити</button>
            </form>
        </div>

        <div class="card-footer text-center">
            <span> Ще не маєте акаунту? <a href="{% url 'account_signup' %}"> Створити акаунт </a></span>
        </div>
    </div>
</div>

{% endblock content %}
