{% load static %}
{% load bet_tags %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    <title>
    {% block title %}
        {% if title %}
            {{ title }}
        {% else %}
            Bet Dashboard
        {% endif%}
    {% endblock title %}
    </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fonts/circular-std/style.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fonts/yura/style.css' %}">
<!--    <link rel="stylesheet" href="{% static 'vendor/fonts/andika/style.css' %}">-->
    <link rel="stylesheet" href="{% static 'vendor/charts/morris-bundle/morris.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/datepicker/tempusdominus-bootstrap-4.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/full-calendar/css/fullcalendar.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/full-calendar/css/fullcalendar.print.css' %}" media='print'>
    <link rel="stylesheet" href="{% static 'vendor/fonts/flag-icon-css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

</head>

<body>
    <div class="dashboard-main-wrapper">
        {% block header %}
            <div class="dashboard-header">
                <nav class="navbar navbar-expand-lg bg-white fixed-top">
                    <a class="navbar-brand" href="#">Bet Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto navbar-right-top">
                            <li class="nav-item dropdown nav-user">
                                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'images/avatar-1.jpg' %}" alt="" class="user-avatar-md rounded-circle"></a>
                                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                    <div class="nav-user-info">
                                        <h5 class="mb-0 text-white nav-user-name"> {{ user.username }} </h5>
                                    </div>
                                    <a class="dropdown-item" href="{% url 'bet_profile' %}"><i class="fas fa-user-circle mr-2"></i>Профіль</a>
                                    <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-power-off mr-2"></i>Вийти</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        {% endblock header %}

        {% block menu %}
            <div class="nav-left-sidebar sidebar-dark">
                <div class="menu-list">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav flex-column">
                                <li class="nav-divider">
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link {% if 'dashboard'|is_parent_menu_active:menu_key %} active {% endif %}" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1">
                                        <i class="mdi mdi-view-dashboard"></i>Дашборд <span class="badge badge-success">6</span>
                                    </a>
                                    <div id="submenu-1" class="collapse submenu {% if 'dashboard'|is_parent_menu_active:menu_key %} show {% endif %}" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link {% if menu_key == 'bet_calendar' %} active {% endif %}" href="{% url 'bet_calendar' %}">Календар</a>
                                            </li>
                                             <li class="nav-item">
                                                <a class="nav-link {% if menu_key == 'bet_statistic' %} active {% endif %}" href="{% url 'bet_statistic' %}">Статистика</a>
                                            </li>
                                             <li class="nav-item">
                                                <a class="nav-link {% if menu_key == 'bet_ratings' %} active {% endif %}" href="{% url 'bet_ratings' %}">Рейтинги</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if 'list'|is_parent_menu_active:menu_key %} active {% endif %}" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2">
                                        <i class="fas fa-history"></i>Списки
                                    </a>
                                    <div id="submenu-2" class="collapse submenu {% if 'list'|is_parent_menu_active:menu_key %} show {% endif %}" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link {% if menu_key == 'bet_list' %} active {% endif %}" href="{% url 'bet_list' %}">Загальний</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link {% if menu_key == 'bet_football_list' %} active {% endif %}" href="{% url 'bet_football_list' %}">Футбол</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link {% if menu_key == 'bet_create' %} active {% endif %}" href="{% url 'bet_create' %}">Додати ставку</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link {% if 'graphs'|is_parent_menu_active:menu_key %} active {% endif %}" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6">
                                        <i class="fas fa-chart-line"></i>Графіки
                                    </a>
                                    <div id="submenu-6" class="collapse submenu {% if 'graphs'|is_parent_menu_active:menu_key %} show {% endif %}" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link {% if menu_key == 'bet_graphs_profit' %} active {% endif %}" href="{% url 'bet_graphs_profit' %}">Прибуток</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link {% if menu_key == 'bet_graphs_roi' %} active {% endif %}" href="{% url 'bet_graphs_roi' %}">Рентабельність</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link {% if menu_key == 'bet_graphs_result' %} active {% endif %}" href="{% url 'bet_graphs_result' %}">Результати</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link {% if menu_key == 'bet_graphs_amount' %} active {% endif %}" href="{% url 'bet_graphs_amount' %}">Середня ставка</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        {% endblock menu %}

        <div class="dashboard-wrapper">
            {% block main %}
            {% endblock main %}

            {% block footer %}
                <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="{% url 'about' %}">Зв'язок з нами</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock footer %}
        </div>
    </div>

    <!-- js scripts -->
    <script src="{% static 'vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'js/main-js.js' %}"></script>
    <script src="{% static 'vendor/shortable-nestable/Sortable.min.js' %}"></script>
    <script src="{% static 'vendor/shortable-nestable/sort-nest.js' %}"></script>
    <script src="{% static 'vendor/shortable-nestable/jquery.nestable.js' %}"></script>
	<script src="{% static 'vendor/charts/morris-bundle/raphael.min.js' %}"></script>
	<script src="{% static 'vendor/charts/morris-bundle/morris.js' %}"></script>
	<script src="{% static 'vendor/charts/morris-bundle/morrisjs.html' %}"></script>
	<script src="{% static 'vendor/charts/charts-bundle/Chart.bundle.js' %}"></script>
	<script src="{% static 'vendor/charts/charts-bundle/chartjs.js' %}"></script>
    <script src="{% static 'vendor/charts/chartist-bundle/chartist.min.js' %}"></script>
    <script src="{% static 'vendor/charts/chartist-bundle/Chartistjs.js' %}"></script>
	<script src="{% static 'js/dashboard-influencer.js' %}"></script>
    <script src="{% static 'vendor/charts/morris-bundle/Morrisjs.js' %}"></script>
    <script src="{% static 'vendor/datepicker/moment.js' %}"></script>
    <script src="{% static 'vendor/datepicker/tempusdominus-bootstrap-4.js' %}"></script>
    <script src="{% static 'vendor/datepicker/datepicker.js' %}"></script>
    <script src="{% static 'vendor/full-calendar/js/moment.min.js' %}"></script>
    <script src="{% static 'vendor/full-calendar/js/fullcalendar.js' %}"></script>
    <script src="{% static 'vendor/full-calendar/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'vendor/full-calendar/js/calendar.js' %}"></script>
    <script>
        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>
    <script>
        $('#confirm-delete-2').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>
    <script>
        $('#confirm-delete-3').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>
    <script>
      $(document).ready(function () {
          $('select').selectize({
              sortField: 'text'
          });
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
</body>
